@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10 pixels */
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(120deg, #bdb2ff, #a0c4ff);

  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  min-height: 10vh;
}

section p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border: 10px solid blue;
  min-height: 20vh;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

input[type="text"] {
  outline: none;
}

form button {
  color: #bdb2ff;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #bdb2ff;
  color: white;
}

.todo-item {
  font-size: 2rem;
}

.delete-button {
  padding: 0rem 0.5rem;
  cursor: pointer;
}
